!!!
html
  head
    meta(charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400',
         rel='stylesheet',
         type='text/css')
    link(href='/base.css', rel='stylesheet', type='text/css')
    title ymichael
  body
    .container
      header
        h1
          strong y
          span michael

      nav
        ul
          - var links = ['about', 'projects', 'resume', 'say hi']
          each link, index in links
            if index != 0
              span &nbsp;&middot;&nbsp;
            li
              if link != page
                if link == 'about'
                  a(href='/')= link
                else if link == 'say hi'
                  a(href='mailto:wrong92@gmail.com')= link
                else
                  a(href='/#{link}.html')= link
              else
                a.active= link

      #main!= body
      
      footer
        a(href='#')
          .icon.github
        a(href='#')
          .icon.twitter
        a(href='#')
          .icon.quora
        a(href='#')
          .icon.facebook


        
        